<div>
  <div class="row my-2">
    <div class="col-sm-10 mx-sm-auto col-md col-lg-4 me-lg-0">
      <div class="border border-dark rounded-3">
        <div class="overflow-y-auto" style="height: 10rem;"  #messagesContainer [scrollTop]="messagesContainer.scrollHeight">
          <div *ngFor="let message of messages">
            {{ message }}
          </div>
          <div *ngIf="messages.length == 0">
            No hay mensajes
          </div>
        </div>
        <div class="input-group">
          <input [(ngModel)]="message" type="text" class="form-control" placeholder="Mensaje" aria-label="Mensaje" aria-describedby="button-addon2" name="message">
          <button class="btn btn-secondary" type="button" id="button-addon2" (click)="sendMessage()">
            Enviar
          </button>
        </div>
      </div>
      <div class="row px-3 my-2">
        <button *ngIf="!loading; else loadingReady" class="btn" [ngClass]="me.ready ? 'btn-outline-dark':'btn-success'" (click)="toggleReady()">
          {{ !me.ready ? 'Estoy listo' : 'No estoy listo' }}
        </button>
        <ng-template #loadingReady>
          <button class="btn btn-outline-dark" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-10 mx-sm-auto col-md col-lg-4 ms-lg-0">
      <label class="h4 pb-2">Jugadores</label>
      <div class="row" *ngFor="let player of players">
        <label class="h6">
          <small class="p-1 rounded-3 status-text" [ngClass]="player.info.ready ? 'bg-success text-white' : 'bg-warning'">
            {{ player.info.ready ? 'LISTO' : 'NO LISTO' }}
          </small>
          --{{ player.info.username }}
        </label>
      </div>
    </div>
  </div>
</div>
