<div class="container">
  <div class="row py-4">
    <div class="col text-{{ dicesPosition[0] }}">
      <img
        [src]="getDiceValue(0)"
        (click)="selectDice(0)"
        width="80rem"
        alt="alt"
        [ngClass]="dicesValue[0].selected ? 'border border-dark p-0 rounded-4': ''">
    </div>
    <div class="col text-{{ dicesPosition[1] }}">
      <img
        [src]="getDiceValue(1)"
        (click)="selectDice(1)"
        width="80rem"
        alt="alt"
        [ngClass]="dicesValue[1].selected ? 'border border-dark p-0 rounded-4': ''"
      >
    </div>
    <div class="col text-{{ dicesPosition[2] }}">
      <img
        [src]="getDiceValue(2)"
        (click)="selectDice(2)"
        width="80rem"
        alt="alt"
        [ngClass]="dicesValue[2].selected ? 'border border-dark p-0 rounded-4': ''"
      >
    </div>
  </div>
  <div class="row py-4">
    <div class="col text-{{ dicesPosition[3] }}">
      <img
        [src]="getDiceValue(3)"
        (click)="selectDice(3)"
        width="80rem"
        alt="alt"
        [ngClass]="dicesValue[3].selected ? 'border border-dark p-0 rounded-4': ''"
      >
    </div>
    <div class="col text-{{ dicesPosition[4] }}">
      <img
        [src]="getDiceValue(4)"
        (click)="selectDice(4)"
        width="80rem"
        alt="alt"
        [ngClass]="dicesValue[4].selected ? 'border border-dark p-0 rounded-4': ''"
      >
    </div>
  </div>
</div>
