<nav class="navbar navbar-expand-lg bg-secondary-subtle">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      Puntuaciones
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mt-2">
          <div class="container-fluid">
            <div class="row">
              <div *ngFor="let player of players" class="m-2 border border-secondary rounded-4" style="width: 10rem;">
                  <div class="row justify-content-center py-2 fw-bold">
                    {{ player.info.username }}
                  </div>
                <app-scoreboard [scoreboard]="player.scoreboard ?? {}"></app-scoreboard>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col pt-3">
      <h1 *ngIf="itsMyTurn; else itsNotMyTurn" class="text-center">
        Es tu turno !
      </h1>
      <ng-template #itsNotMyTurn>
        <h3 class="text-center fw-light">
          {{ playerInTurnUsername }} esta jugando...
        </h3>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!mixing && (actionsMade === 1 || actionsMade === 3)" class="col-lg-4"></div>
    <div class="col-9 col-md-8 col-lg-4 mx-auto my-3 py-3">
      <div class="row border border-dark rounded-3 bg-white">
        <app-dices [dicesValue]="dicesValue" [mixing]="mixing" (diceSelected)="onDiceSelected($event)" ></app-dices>
      </div>
      <div *ngIf="itsMyTurn" class="row mt-2">
        <button *ngIf="actionsMade < 3" class="btn btn-lg btn-dark" [ngClass]="mixing ? 'disabled':''" (click)="nextTurnAction()">
          {{ mixing ? 'Lanzando...' : actionsMade <= 1 ? 'Lanzar dados' : 'Voltear dado' }}
        </button>
      </div>
    </div>
    <div *ngIf="!mixing && (actionsMade === 1 || actionsMade === 3)" class="col-9 col-md-8 col-lg-4 my-3 my-md-0 mx-auto">
      <h5>Te podes anotar...</h5>
      <ul class="list-group bg-secondary-subtle border border-black">
        <li *ngFor="let result of results" class="list-group-item" (click)="selectResult(result)">
          <input
            class="form-check-input me-1"
            type="radio"
            name="listGroupRadio"
            value=""
            id="radio-{{ result.resultPosition }}"
          >
          <label class="form-check-label" for="radio-{{ result.resultPosition }}">
            <span class="badge bg-white border border-black text-dark small rounded-pill">
              {{ result.resultValue }}
            </span>
            en {{ result.resultName }}
          </label>
        </li>
      </ul>
      <div class="row px-3 mt-2">
        <button class="btn btn-lg btn-success" (click)="finishTurn()">
          Finalizar turno
        </button>
      </div>
    </div>
  </div>
</div>
